    .container {
        margin-top: 58px;
    }
/* CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 80px; /* Adjust to match your navbar height */
}
button {
    margin-bottom: 10px;
}

:root {
    --primary-color: #fc5d66;
    --secondary-color: #ffc05a;
    --light-color: #f9fafb;
    --dark-color: #272d35;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;

    background-color: var(--light-color);
    color: var(--dark-color);
}

/* navbar */
.navbar {
    background-color: var(--dark-color);
    color: var(--light-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0.9;
}
#logo {
    width: 100px;
}
.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.nav-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
i {
    cursor: pointer;
}
.mobile-nav {
    display: none;
}

/* hero */
.hero-flex {
    display: flex;
    width: 100%;
    height: 90vh;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-wrap: wrap;
    background: url('./images/header-background.jpg') no-repeat center center/cover;
    color: var(--light-color);
}
.hero-text {
    /* flex: 1; */
    padding: 20px;
    height: 100px;
    margin-bottom: 100px;
}
.hero img {
    flex: 1;
    /* width: 300px; */
    margin: 10px;
    height: 35rem;
    padding: 50px;
    margin-bottom: 100px;
}
.hero .btn {
    background-color: var(--secondary-color);
    color: var(--dark-color);
    border-radius: 40px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.hero .frame-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

/* learn section */

.learn-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
    margin: 20px;
}
.learn-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    /* wrap: wrap; */
    gap: 20px;
    margin: 30px;
}
.learn-card p {
    font-size: 1.2rem;
    font-weight: 600;
}

/* Chapters */
.chapters {
    text-align: center;
    /* height: 100vh; */
    /* margin-top: 5rem; */
}
#chapters {
    text-align: center;
    /* height: 50vh; */
    /* margin-top: 5rem; */
}
.chapters h1 {
    font-size: 2rem;
    margin: 3rem;
}
.chapters p {
    margin-bottom: 3rem;
}
.chapters h2 {
    font-weight: bold;
}
.chapters-grid img {
    width: 200px;
    height: 200px;
    margin-top: 2rem;
}

.chapters-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1 , 1fr);
    flex: 1;
    gap: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
}

.chapter-card {     
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--light-color);
    /* transition: transform 0.3s ease; */
}

/* summary */
.summary {
    /* height: 100vh; */
    margin: 10px;
    padding: 20px;

}
.summary>h2 {
    text-align: center;
    margin-bottom: 10px;
}
.summary h4 {
    margin: 10px;
    padding: 10px;
    background-color: #fc5d66;
    color: var(--light-color);
    border-radius: 3px;
}
.summary-flex li {
    margin: 10px;
    padding: 10px;
    color: var(--dark-color);
    border-radius: 3px;
    border-bottom: solid 1px var(--dark-color);
}
.summary-flex li:nth-child(4) {
    border-bottom: none;
}

/* info */
.info {
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: fit-content;
    /* height: 100vh; */
    flex: 1;
    height: fit-content;
}
.info img {
    flex: 1;
    width: 50%;
}
div.content {
    flex: 1;
    margin: 0;
    background-color: #fc5d66;
    color: #f9fafb;
    /* width: 50%;s */
    /* height: 100%; */
    padding: 30px;
    line-height: 2;
    font-size: large;
}
.info i {
    color: var(--secondary-color);
    margin-right: 10px;
}

/* stats */
.stat {
    background: url('./images/stats-background.jpg') no-repeat center center/cover;

}
.stat-flex {
    display: flex;
    flex: 1;
    justify-content: centre;
    margin: 30px;
}
.stat-text {
    text-align: center;
    flex: 1;
    margin-top: 3rem;
    color: var(--light-color);
}
.stat-card p {
    font-size: smaller;
    margin: 1rem;
}
.stat-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1 , 1fr);
    flex: 1;
    gap: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: fit-content; */
}
.stat-text h3 {
    font-size: 2rem;
}
.stat-text button {
    background-color: var(--secondary-color);
    font-weight: bold;
    color: var(--dark-color);
    border-radius: 40px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* newsletter */
.news {
    text-align: center;
    height: 350px;
    /* margin: 10px;
    padding: 20px; */
    color: var(--dark-color);
    /* margin-top: 150px; */
}
.news p:first-of-type {
    margin: 10px;
    padding: 10px;
    /* background-color: #fc5d66; */
    /* color: var(--light-color); */
    border-radius: 3px;
    font-size: 2rem;
    font-weight: bold;
}
.news button {
    display: block;
    justify-content: center;
    margin: auto;
    background-color: var(--secondary-color);
    font-weight: bold;
    color: var(--dark-color);
    border-radius: 40px;
    padding: 20px;
    margin-top: 20px;
    /* text-align: center; */
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.news input {
    border-radius: 40px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* contact */
.contact {
    text-align: center;
    /* height: 350px; */
    /* margin: 10px; */
    /* padding: 20px; */
    color: var(--dark-color);
}
.contact>h2 {
    padding: 20px;
    color: #f9fafb;
    text-align: left;
    padding-bottom: 5rem;
    background-color: #fc5d66;
}
.contact>p {
    padding: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 50px;
}
.contact-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 0 3rem;
    /* margin: 3rem 400px; */
    /* min-width: 400px; */
}
.contact-flex i {
    font-size: 3rem;
    color: #fc5d66;
}
.contact-flex input {
    border-radius: 40px;
    padding: 20px;
    /* margin-top: 20px; */
    /* text-align: center; */
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.contact-flex textarea {
    font-family: inherit;
    border-radius: 40px;
    padding: 20px;
    /* margin-top: 20px; */
    /* text-align: center; */
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}
.contact-flex button {
    background-color: var(--secondary-color);
    width: fit-content;
    font-weight: bold;
    color: var(--dark-color);
    border-radius: 40px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* footer */
footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: center;
    padding: 20px;
}
.socials-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}
.socials-flex i {
    margin-top: 2rem;
    font-size: 3rem;

}
.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 10px;
}
.footer-end {
    color: rgb(99, 92, 92);
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* margin: 10px; */
    margin-top: 6rem;
    font-size: .8rem;
    border-top: solid 1px rgb(99, 92, 92);
    border-radius: 3px;
}
.footer>p{
    font-weight: bold;
    font-size: large;
}
.socials-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}


a {
    text-decoration: none;
    color: var(--light-color);
}

img {
    max-width: 100%;
}

ul,li {
    list-style: none;
}

@media (max-width: 1200px) {
    .info img {
    display: none;
}
.stat-flex img {
    display: none;
}

}

@media (max-width: 992px) {
    .hero-flex {
        display: column;
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 90vh;
        padding: auto;
    }
    div.hero-text {
        margin: 0px;
        height: 20px;
        padding: 30px;
        flex: 1;
    }
    .hero img {
        /* flex: 1;
        width: 20rem;
        margin-bottom: 100px;
        /* height: 50px; */
        /* padding-right: 0px;
        height: 10rem; */ */
    }
    .hero .frame-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.chapters-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1 , 1fr);
    flex: 1;
    gap: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
}




}

/* info */



/* learn-section */

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    .mobile-nav {
    display: block; 
    background-color: var(--dark-color);
    color: var(--light-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0.9;
    }
    #logo {
        width: 100px;
    }
    .navbar-flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 52px;
        left: 0px;
        background-color: var(--dark-color);
        width: 100%;
        text-align: center;
        transform: translateX(0);
        transition: transform 0.5s ease;
        border-radius: 10px;
        padding: 20px 0;
    }
    .nav-links.active {
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }
    .learn-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    /* wrap: wrap; */
    gap: 20px;
    margin: 30px;
    text-align: center;
    text-wrap: none;
    overflow: hidden;
    }
    .stat-grid {
        display: grid;
        grid-template-COLUMNS: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        /* wrap: wrap; */
        /* gap: 20px; */
        /* margin: 30px; */
        text-align: center;
        text-wrap: none;
        overflow: hidden;
    }

    .learn-card img {
        width: 100px;
        height: 100px;
    }

    .socials-flex{
    flex-wrap: wrap;
    }

    i {
        cursor: pointer;
    }


    }

@media (max-width: 576px) {
    /* .hero img {
        margin-top: 100px;
        padding: 20px;

        
    } */
    .learn-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    align-items: center;
    justify-content: center;
    /* wrap: wrap; */
    gap: 20px;
    margin: 30px;
    text-align: center;
    text-wrap: none;
    overflow: hidden;
    }
        .learn-card img {
        width: 100%;
        height: auto;
    }

}